*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html{
    font-size:62.5%;
}


nav{
    height:6rem;
    width: 100%;
    background-color: rgba(25, 25, 25, 0);
    padding:2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
    position: fixed;
}

nav ul{
    display: flex;
    list-style: none;
    gap:2rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

nav ul a{
    text-decoration: none;
    color: aliceblue;
    position: relative;
}
nav ul a:before{
    content:"";
    position:absolute;
    border-top: 2px solid red;
    top:100%;
    left:2px;
    transition-property: all;
    transition-duration: 2s;
}
a:hover{
    color:rgb(240, 23, 23);
}
a:hover:before{
    animation: line 0.4s ;
}

@keyframes line{
    0%{
        width: 0%;
    }
    100%{
        width:100%;
    }
}

nav .logo a{
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
}

.main-div{
    height: 100vh;
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -5;
}

.main-div .pepsi{
    height: 90%;
}

.water{
    width: 70%;
    position: absolute;
    top:30%; 
}
.water2{
    width: 50%;
    position: absolute;
    top:37%; 
    z-index: -2;
    scale: -1;
}
.Pepsi-Text{
    font-size: 60vh;
    position: absolute;
    z-index: -2;
    color: white;
}
.leaf1{
   width:15%;
   position: absolute;
   top:10%;
   left:33%;
   z-index: -2;
   filter: blur(2px);
}