*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html{
    font-size:62.5%;
}
 body{
    overflow-x: hidden;
 }

nav{
    height:6rem;
    width: 100%;
    background-color: rgba(25, 25, 25, 0);
    padding:2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
    position: fixed;
}

nav ul{
    display: flex;
    list-style: none;
    gap:2rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

nav ul a{
    text-decoration: none;
    color: aliceblue;
    position: relative;
}
nav ul a:before{
    content:"";
    position:absolute;
    border-top: 2px solid red;
    top:100%;
    left:2px;
    transition-property: all;
    transition-duration: 2s;
}
a:hover{
    color:rgb(240, 23, 23);
}
a:hover:before{
    animation: line 0.4s ;
}

@keyframes line{
    0%{
        width: 0%;
    }
    100%{
        width:100%;
    }
}

nav .logo a{
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
}

.main-div{
    height: 100vh;
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -5;
}

.main-div .pepsi{
    height: 90%;
    position: relative;
    z-index: -2;
}

.water{
    width: 70%;
    position: absolute;
    top:30%; 
}
.water2{
    width: 50%;
    position: absolute;
    top:37%; 
    z-index: -3;
    scale: -1;
}
.Pepsi-Text{
    font-size: 60vh;
    position: absolute;
    z-index: -4;
    color: white;
}
.leaf1{
   width:15%;
   position: absolute;
   top:10%;
   left:33%;
   z-index: -3;
   filter: blur(2px);
}

.page2{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: aqua;
    position: relative;
    z-index: -9;
}

.left2{
    width: 50%;
    height: 100%;
    background-color: rgb(3 49 97);
    display: flex;
    justify-content: center;
    align-items: center;
}
.right2{
    width: 50%;
    height: 100%;
    background-color: rgb(3 49 97);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:2.7rem;
}

.left2 svg {
    height: 70%;
    transform: rotateX(60deg);
    margin-top:40rem;
    margin-left: -15%;
}

.right2 h1{
    color:white;
    font-size: 7rem;
}
.right2 p{
    color:white;
    font-size: 1.2rem;
    width: 90%;
}

.page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    gap:15rem;
    justify-content: center;
    position: relative;
    z-index: -10;
}

.card{
    width:30rem;
    height:45rem;
    background-color: aquamarine;
    border-radius:20px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap:1.5rem;
}
.card h1{
    font-size: 4.5rem;
}

.card button{
    padding:1rem 2rem;
    border:none;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.card1{
    background-color: rgb(127, 229, 255);
}
.card2{
    background-color: rgb(5, 79, 164);
}
.card3{
    background-color: rgb(127, 229, 255);
}
.card1button,.card3button{
    background-color: rgb(20, 73, 164);
    color:white
}

.card1 img{
    height: 70%;
}
.card3 img{
    height: 75%;
}
.card2heading{
    color:white
}